body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

#title-div {
  display: block;
}

#upload-wrapper {
  margin: 0 auto;
  width: 50%;
}

.upload-form {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.instructions {
  text-align: center;
  font-weight: normal;
}

h1 {
  text-align: center;
  padding: 2em;
}
