#title-div {
  display: block;
}

.instructions {
  text-align: center;
  font-weight: normal;
}

.submit-button {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.bp3-file-input {
  border-radius: 3px;
  padding-bottom: 10px;
  font-weight: 400;
}

.bp3-form-group {
  margin-top: 10px;
}